*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    i

}


header {
    display: flex;
    justify-content: space-between;
    background-color:red ;
    height: 5vh;
}
.head {
    background-color: rgb(252, 179, 191);
    padding: 10px;
}

section {
    display: flex;
    height: 85vh;
}

.container {
    flex-direction: column;
    background-color: bisque;
    text-align: left;
    width: 20%;
}

#bottom {
    font-weight: 400;

    padding: 0px 0px 10px 0px;
    position: absolute;
    top: 50%;
    left: 5%;
    background-color: rgb(222, 83, 2);
}

.menu {
    padding: 0px 20% 5px 0px;
    cursor: pointer;
    outline: 5px beige;
    background: goldenrod;
}
.devider {
    height: 5px;
}
main {
    display: flex;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    width: 80%;

}

footer {
    display: flex;
    background-color: rgba(228, 179, 190, 0.882);
    justify-content: center;
    align-items: center;
    height: 10vh;
}

